*{
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: Inter;
}
.navbar{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background-color:#F55A5A;
  height: 55px;
  color: #ffff;
}
.main-text{
  max-width: 400px;
  font-size: 10.24px;
}
.main{
  display: flex;
  justify-content: center;
  gap: 19px;
  padding: 100px 385px 0 40px;
}
.main-content h5{
  font-size: 10.24px;
  margin-bottom: 9px;
}
.main-content h2{
  width: 326px;
  font-size: 25px;
}
.main-content span{
  font-size: 10.24px;
  width: 326px;
}
.main-content small{
  font-size: 10.24px;
  margin-left: 12px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}